<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <a href="/admin/item/new">
  <div>
    상품 등록
  </div>
  </a>
  <a href="/admin/item">
  <div>
    상품 조회 / 관리
  </div>
  </a>
  <a href="/admin/banner/new">
  <div>
    배너 등록
  </div>
  </a>
  <a href="/admin/banner">
  <div>
    배너 조회/관리
  </div>
  </a>
  <div>
    결제 기록 조회 / 관리
  </div>
  <div>
    통계 조회
  </div>
</body>
</html>