<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <footer>
        <div>
            <div>
                <a href="/footer/agree">이용약관</a>
                <a href="/footer/legal-notice">법적 고지</a>
            </div>

            <div>
                <div>
                    <span>대표: 현영민</span>
                    <span>|</span>
                    <span>사업자등록번호: 202-50-109021</span>
                </div>
                <div>
                    <span>사업장: 인천광역시 부평구 부평1동 534-48</span>
                    <span>|</span>
                    <span>대표메일: test@test.com</span>
                    <span>|</span>
                    <span>고객센터: 1234-5678</span>
                </div>
            </div>

            <div>
                <p>&copy; 2025 myTrip. All rights reserved.</p>
            </div>
        </div>
    </footer>
</div>

<style>

</style>
</html>